{% extends 'base.html.twig' %}

{% block title %} Gestion Panel Admin {% endblock %}

{% block body %}
{# templates/default/new.html.twig #}
<html><body> Gestion Panel Admin </body></html>
    


{% endblock %}
