{% extends 'base.html.twig' %}

{% block title %}New Infosupplementaire{% endblock %}

{% block body %}
    <h1>Create new Infosupplementaire</h1>

    {{ include('infosupplementaire/_form.html.twig') }}

    <a href="{{ path('infosupplementaire_index') }}">back to list</a>
{% endblock %}
